<div class="row" id="row-mobile">
  <div class="column">
    {{#each col1}}
      <a href="webimages/md_{{this.imageName}}" class="tn-img-gallery" data-fancybox="images" data-srcset="webimages/lg_{{this.imageName}} 800w, webimages/md_{{this.imageName}} 570w, webimages/tn_{{this.imageName}} 280w " data-caption="{{this.imageDescription}}">
        <img src="webimages/tn_{{this.imageName}}" class="photo">
      </a>
        <div class="description">
          <p>{{this.imageDescription}}</p>
        </div>
    {{/each}}
  </div>

  <div class="column">
    {{#each col2}}
      <a href="webimages/md_{{this.imageName}}" class="tn-img-gallery" data-fancybox="images" data-srcset="webimages/lg_{{this.imageName}} 800w, webimages/md_{{this.imageName}} 570w, webimages/tn_{{this.imageName}} 280w " data-caption="{{this.imageDescription}}">
        <img src="webimages/tn_{{this.imageName}}" class="photo">
      </a>
        <div class="description">
          <p>{{this.imageDescription}}</p>
        </div>
    {{/each}}
  </div>

  <div class="column">
    {{#each col3}}
      <a href="webimages/md_{{this.imageName}}" class="tn-img-gallery" data-fancybox="images" data-srcset="webimages/lg_{{this.imageName}} 800w, webimages/md_{{this.imageName}} 570w, webimages/tn_{{this.imageName}} 280w " data-caption="{{this.imageDescription}}">
        <img src="webimages/tn_{{this.imageName}}" class="photo">
      </a>
        <div class="description">
          <p>{{this.imageDescription}}</p>
        </div>
    {{/each}}
  </div>

  <div class="column">
    {{#each col4}}
      <a href="webimages/md_{{this.imageName}}" class="tn-img-gallery" data-fancybox="images" data-srcset="webimages/lg_{{this.imageName}} 800w, webimages/md_{{this.imageName}} 570w, webimages/tn_{{this.imageName}} 280w " data-caption="{{this.imageDescription}}">
        <img src="webimages/tn_{{this.imageName}}" class="photo">
      </a>
        <div class="description">
          <p>{{this.imageDescription}}</p>
        </div>
    {{/each}}
  </div>
</div>
